body{
    background-image: url("images/background1.png");
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
    font-size: 150%;
}

.intro {
    font-size: 150%;
    color: red;
}
.row {
    position: relative;
}

#maBoisson{
  position: absolute;
  bottom: 0;
  right: 0;
}
#maBoisson img {
    vertical-align:bottom;
    border:0;
    cursor: pointer;
}

#imgTouillette
{
    cursor: pointer;    
}
#monGobelet{
    position: absolute;
    bottom: 0;
    right: 0;
}
#monGobelet img {
    vertical-align:bottom;
    border:0;
}


.choix{
    background-color: #2a7ad6;
    width: 21em;
    height: 5em;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    color: white;
    border: 8px solid rgba(39, 42, 221, 0); 
    margin-top: 1em;
    cursor: pointer;
}

a{
    cursor: pointer;
}

h3{
    font-size: 2em;
    padding-top: 0;
    margin-top: 0.5em;
}

.selected{
    border: 8px solid rgb(1, 97, 206); 
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 1) inset;
}

.imgBoisson{
    display:none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.visible{
    display:block;    
}

.sucres{
    float: left;
    cursor: pointer;    
}


#zoneSucres{
    width: 15%;
    position: absolute;
    bottom: 10%;
    right: 4%;
    margin-bottom: 1%;
    opacity: 0.8;
}
.sucresBoisson{
    width: 30%;
    float: left;
}

.pieces{
    width: 4.5em;
    float: left;
    margin-right: 1em;
    margin-top: 0.5em;
    cursor: pointer;       
}

.mesPieces{
    background-color: #2a7ad6;
    height: 6.5em;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.80);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.80);
    box-shadow: 3px 3px 3x 0px rgba(0,0,0,0.65);
    color: white;
    border: 8px solid rgba(39, 42, 221, 0); 
    margin-top: 1em;
}

#pieceE{
    margin-top: -1.4em;
}

.pMonnayeur{
    background-color: #2a7ad6;
    width: 19em;
    height: 6em;
    text-align: center;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;-webkit-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    color: black;
    border: 8px solid rgba(39, 42, 221, 0); 
    margin-top: 1em;
    margin-bottom: 2em;
    position: relative;

}

.nbPieces{
    background-color: white;
    width: 10em;
    height: 4.9em;
    text-align: center;
    -webkit-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    color: black;
    position: absolute;
    right: 0;
    top: 0;
}

.plusMoins{
    background-color: white;
    width: 2.5em;
    height: 4.9em;
    text-align: center;
    -webkit-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    color: black;
    position: absolute;
    right: 10.5em;
    top: 0;
}

.plusMoins{
    background-color: white;
    width: 2.5em;
    height: 4.9em;
    text-align: center;
    -webkit-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    color: black;
    position: absolute;
    right: 10.5em;
    top: 0;
    
}


.plus{
    width: 2.5em;
    height: 2.40em;
    text-align: center;
    -webkit-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;     
    border: 1px solid rgb(0, 0, 0);     
}


.moins{
    width: 2.5em;
    height: 2.40em;
    text-align: center;
    -webkit-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    box-shadow: 3px 3px 11px -1px rgba(0,0,0,0.65);
    color: black;
    position: absolute;
    right: 0;
    top: 2.5em;
    cursor: pointer;       
    border: 1px solid rgb(0, 0, 0);     
    
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}
